{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<fieldset class="form-group">
    <legend class="border-bottom mb-4">Quote</legend>
    <div class="form-group">
        {% if resp %}
            <strong lass = "form-control-label">{{ resp['name'] }} ({{ resp['symbol'] }}) : {{ resp['price'] }}</strong>
        {% else %}
            <strong lass = "form-control-label">Symbol Not Found</strong> 
        {% endif %}
    </div>
</fieldset>
    
{% endblock %}