{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}
<div class='content-section'>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">SELL</legend>
               
                {{ form.symbol(class = "form-control form-control-lg")}}
        <div class="form-group">
            {{ form.shares.label(class = "form-control-label") }}
            {% if form.shares.errors %}
                {{ form.shares(class = "form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.shares.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.shares(class = "form-control form-control-lg") }}
            {% endif %}
        </div>
        </fieldset>
            {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}