{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div class='content-section'>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Quote</legend>
            <div class="form-group">
                {{ form.symbol.label(class = "form-control-label") }}
                {% if form.symbol.errors %}
                    {{ form.symbol(class = "form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.symbol.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.symbol(class = "form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
            {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}